@import 'variables'

.footer
    display: flex
    flex-direction: column
    &-text
        color: $color-gray
        font-weight: 700
        margin-bottom: 10px
    &-companies
        &-icons
            margin-right: 10px
            width: 40px
