@import 'variables'
@import 'mixins'

.header
    display: flex
    justify-content: space-between
    align-items: center
    &-logo
        &-img
            max-width: 200px
    &-nav
        &-list
            display: flex
            justify-content: center
            align-items: center
            @include screen850
                display: none
            &-item
                &-link
                    margin-left: 15px
                    color: $color-gray
                    &:hover
                        color: $color-purple
                &-link.link-active
                    padding: 20px 20px
                    border: 1px solid $color-purple
                    background-color: $color-purple
                    color: $color-white
                    border-radius: 10px
                    &:hover
                        background-color: $color-black-purple
    &-navHamburguer
        display: none
        @include screen850
            display: block
            margin-left: auto
        &-img
            align-self: center
        &-list
            display: flex
            flex-direction: column
            &-item
                margin-top: 10px
                &-link 
                    

