@import 'variables'
@import 'header'
@import 'main'
@import 'footer'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    font-family: $font-page

body
    height: calc(100vh - 50px)
    background-color: $color-white
    padding: 25px

.container
    background-color: $color-off-white
    border: none
    border-radius: 15px
    padding: 40px 80px
    height: 90vh
